body, html {
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

#home {
 background-image: url("photos/Background1.jpg");
 background-repeat: no-repeat;
height: 100%; 
 background-position: center;
 background-size: cover;
 }
 #about-us{
  text-align: center;
 }
#services{
 background-image: url("photos/s_image.jpg");
 text-align: center;
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
 padding-top: 60px;
 padding-bottom: 60px;
}

.porfolio-img{
 height: 200px;
 width: 250px;
}
#contactUs{
 background-image: url("photos/contactus.jpg");
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
 height: 50%;
}

.form-control::placeholder {
 color: white;
}
#contactUs{
 padding-bottom: 10px ;
 padding-left: 200px ;
 padding-right: 200px ;
 padding-top: 50px;

}
#social_Icons{
 text-align: center;
}
#mouseClick{
  position: relative;
  top: 220px;
 
}


