body, html {
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

#home {
 background-image: url("photos/Background1.jpg");
 background-repeat: no-repeat;
 height: 100%;
 background-position: center;
 background-size: cover;
 }
#services{
 background-image: url("photos/s_image.jpg");




}


